# Installer manifest template -- __VERSION__/__URL__/__SHA256__ substituted by
# .github/workflows/release.yml.
PackageIdentifier: jffz.AsusGameProfiles
PackageVersion: __VERSION__
MinimumOSVersion: 10.0.17763.0
InstallerType: msi
Scope: machine
InstallModes:
  - interactive
  - silent
InstallerSwitches:
  Silent: /quiet /norestart
  SilentWithProgress: /passive /norestart
UpgradeBehavior: install
Installers:
  - Architecture: x64
    InstallerUrl: __URL__
    InstallerSha256: __SHA256__
ManifestType: installer
ManifestVersion: 1.6.0
